
###> symfony/framework-bundle ###
/.env
/public_html/bundles/
/public_html/log.txt
/var/
/vendor/
/.idea
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
